body {
    --fundo: white;
    --cor-do-texto: #667085;
    --cor-do-fundo-botao: #8E2424;
    --cor-de-destaque: #8E2424;
    --cor-de-fundo-botao2: #f3c9c96b;
    /** --marrom-escuro: #816D4F;*/
    /**  --marrom-claro: #B29463;*/
    --text-padrao: font-family: 'Inter', sans-serif;
    height: 4000px;
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

.navbar {

    display: flex;
    align-items: center;
    padding-left: 112px;
    padding-right: 112px;
    padding-top: 18px;
    padding-bottom: 18px;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.ancoras {
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.links {
    padding: 18px;
    color: var(--cor-do-texto);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    gap: 32px;
}

.botoes {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    gap: 20px;
}

.botao1 {
    color: var(--cor-do-texto);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.botao2 {
    margin-left: 30px;
    color: white;
    text-decoration: none;
    background: var(--cor-do-fundo-botao);
    padding: 10px 18px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.conteudo {
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    font-family: 'Inter', sans-serif;
}

.conteudo_destaque {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: var(--cor-de-destaque);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.conteudo_titulo {
    font-size: 48px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.conteudo_texto {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cor-do-texto);
    font-family: 'Inter', sans-serif;
}

.metricas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
    margin-left: 112px;
    margin-right: 112px;
    font-family: 'Inter', sans-serif;
    gap: 32px;
}

.conteudo-metricas {
    font-size: 60px;
    font-weight: 600;
    color: var(--cor-de-destaque);
    font-family: 'Inter', sans-serif;
}

.conteudo-metricas-titulo {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.conteudo-metricas-texto {
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-do-texto);
    font-family: 'Inter', sans-serif;
}

.container-vagas {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    font-family: 'Inter', sans-serif;
}

.vagas-botao {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--cor-de-destaque);
    background-color: var(--cor-de-fundo-botao2);
    padding: 6px 12px;
    border: 1px solid var(--cor-de-fundo-botao2);
    font-family: 'Inter', sans-serif;
    border-radius: 2em;
}

.conteudo-vagas-titulo {
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 2px;
}

.conteudo-vagas-texto {
    color: var(--cor-do-texto);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: -16px;
}

.imagem-vagas {
    margin-top: 20px;
}

.container-anuncios {
    margin-top: 64px;
    padding: 0 336px;
    font-family: 'Inter', sans-serif;
}

.conteudo-design {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.conteudo-design-titulo {
    font-size: 18px;
    font-weight: 500;
    margin-top: 32px;
    font-family: 'Inter', sans-serif;
}

.paragrafo-2 {
    display: flex;
    gap: 24px;
    font-family: 'Inter', sans-serif;
}